.cs-admin .portlet-msg-info {
    background-position: 99% 6px;

    padding-left: 6px;
    padding-right: 25px;
}

.cs-admin fieldset {
    margin-bottom: 10px;
}

.cs-admin table {
    margin-left: 17px;
}

.cs-admin h2 {
    margin-top: 5px;
}

.cs-admin .buttons {
    float: right;
    margin-top: 10px;
    padding-right: 35px;
}

.cs-admin .description {
    float: right;
    width: 49%;
}

.cs-admin .values {
    float: left;
    width: 49%;
}

.cs-odd {
    background-color: #fff;
    border-bottom: 1px solid #999;
}

.cs-even {
    background-color: #e3e3e3;
    border-bottom: 1px solid #999;
}

.cs-admin .cs-table {
    border-style: solid;
    border-color: #999;
    border-width: 1px;
}

.cs-admin .cs-table .cs-head {
    background-color: #aaa;
    border-bottom: 1px solid #999;
}

.cs-admin .cs-table .cs-head th {
    padding: 5px 4px 3px;
}

.cs-admin .cs-table .cs-row td {
    padding: 4px 4px 2px;
}

.cs-admin .cs-table tr td div.tools {
    padding: 6px;
}
