.cs-admin .portlet-msg-info {
    background-position: 99% 6px;

    padding-left: 6px;
    padding-right: 25px;
}

.cs-admin fieldset {
    margin-bottom: 10px;
}

.cs-admin table {
    margin-left: 17px;
}

.cs-admin .buttons {
    float: right;
    margin-top: 20px;
    padding-right: 35px;
}

.cs-admin .description {
    float: right;
    width: 49%;
}

.cs-admin .values {
    float: left;
    width: 49%;
}

.cs-odd {
    background-color: #d3d3d3;
    border-bottom: 1px solid;
}

.cs-even {
    background-color: #fff;
    border-bottom: 1px solid;
}

.cs-head {
    background-color: gray;
    border-bottom: 1px solid;
}